{% extends "base_site.html" %}

{% block title %} {{ title }} {% endblock title %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h1>Patient Profile <small>{{ heading }}</small></h1>
          
        </div>  
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h3>Overview</h3>
            </div>

            <div class="x_content">

              <form id="patient-form" class="form-horizontal form-label-left" action="" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                  <!-- validate picture -->
                  <div class="text-center" class="picture-error" style="color:red; display:none; margin: 5px;">Wrong extension. Please select ".png" or ".jpg" extension</div>

                  <div class="picture-upload">
                    <img class="picture-now" src="{{ picture_file }}" alt="{{ picture_file }}"/>
                    {{ form.picture(class="picture-file") }}
                  </div>

                  <h2 class="text-center">Profile Picture</h2>
                </div>

                <div class="col-md-9 col-sm-9 col-xs-12">
                  <div class="profile_title">
                    <div class="col-md-12">
                      <h2>Personal Info</h2>
                    </div>
                  </div>

                  <div class="ln_solid"></div>

                  <!-- personal info -->
                  <div class="row">
                    {% for field in form %}
                      {% if field.name in health_info_dict['personal_info'] %}
                        <div class="item form-group" >
                          <label class="control-label col-md-2 col-sm-2 col-xs-12">{{ field.label }} <span class="required">*</span>
                          </label>
                          <div class="col-md-4 col-sm-4 col-xs-12">
                            {{ field(class="form-control col-md-7 col-xs-12") }}
                          </div>
                          <div class="control-label col-md-5 col-sm-5 col-xs-12">
                            <p style="float:left; color:red">{{ field.errors[0] }}</p>
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>

                  <div class="ln_solid"></div>
                  <div class="profile_title">
                    <div class="col-md-12">
                      <h2>Health Info</h2>
                    </div>
                  </div>

                  <div class="ln_solid"></div>

                  <!-- health info -->

                  <div id="health-info" style="margin-left: 10px;">
                    <!-- Health -->
                    <h3>Health</h3>
                    <div class="ln_solid"></div>

                    {% for field in form %}
                      {% if field.name in health_info_dict['health'] %}
                        <div class="item form-group" >
                          <label class="control-label col-md-2 col-sm-2 col-xs-12">{{ field.label }}</label>
                          <div class="col-md-4 col-sm-4 col-xs-12">
                            {{ field(class="form-control col-md-7 col-xs-12") }}
                          </div>
                          <div class="control-label col-md-5 col-sm-5 col-xs-12">
                            <p style="float:left; color:red">{{ field.errors[0] }}</p>
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}<br>

                    <!-- General Biochemistry -->
                    <div class="ln_solid"></div>
                    <h3>General Biochemistry</h3>
                    <div class="ln_solid"></div>

                    {% for field in form %}
                      {% if field.name in health_info_dict['general_biochemistry'] %}
                        <div class="item form-group" >
                          <label class="control-label col-md-2 col-sm-2 col-xs-12">{{ field.label }}</label>
                          <div class="col-md-4 col-sm-4 col-xs-12">
                            {{ field(class="form-control col-md-7 col-xs-12") }}
                          </div>
                          <div class="control-label col-md-5 col-sm-5 col-xs-12">
                            <p style="float:left; color:red">{{ field.errors[0] }}</p>
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}<br>

                    <!-- Comorbidities -->
                    <div class="ln_solid"></div>
                    <h3>Comorbidities</h3>
                    <div class="ln_solid"></div>

                    {% for field in form %}
                      {% if field.name in health_info_dict['comorbidities'] %}
                        <div class="item form-group" >
                          <label class="control-label col-md-2 col-sm-2 col-xs-12">{{ field.label }}</label>
                          <div class="col-md-4 col-sm-4 col-xs-12">
                            {{ field(class="form-control col-md-7 col-xs-12") }}
                          </div>
                          <div class="control-label col-md-5 col-sm-5 col-xs-12">
                            <p style="float:left; color:red">{{ field.errors[0] }}</p>
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}<br>

                    <!-- biopsy_test  -->
                    <div class="ln_solid"></div>
                    <h3>Biopsy Test</h3>
                    <div class="ln_solid"></div>

                    {% for field in form %}
                      {% if field.name in health_info_dict['biopsy_test'] %}
                        <div class="item form-group" >
                          <label class="control-label col-md-2 col-sm-2 col-xs-12">{{ field.label }}</label>
                          <div class="col-md-4 col-sm-4 col-xs-12">
                            {{ field(class="form-control col-md-7 col-xs-12") }}
                          </div>
                          <div class="control-label col-md-5 col-sm-5 col-xs-12">
                            <p style="float:left; color:red">{{ field.errors[0] }}</p>
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}<br>


                    <!-- genetic_test  -->
                    <div class="ln_solid"></div>
                    <h3>Genetic Test</h3>
                    <div class="ln_solid"></div>

                    {% for field in form %}
                      {% if field.name in health_info_dict['genetic_test'] %}
                        <div class="item form-group" >
                          <label class="control-label col-md-2 col-sm-2 col-xs-12">{{ field.label }}</label>
                          <div class="col-md-4 col-sm-4 col-xs-12">
                            {{ field(class="form-control col-md-7 col-xs-12") }}
                          </div>
                          <div class="control-label col-md-5 col-sm-5 col-xs-12">
                            <p style="float:left; color:red">{{ field.errors[0] }}</p>
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}<br>


                    <!-- Serum Tumor Markers -->
                    <div class="ln_solid"></div>
                    <h3>Serum Tumor Markers</h3>
                    <div class="ln_solid"></div>
                    {% for field in form %}
                      {% if field.name in health_info_dict['serum_tumor_markers'] %}
                        <div class="item form-group" >
                          <label class="control-label col-md-2 col-sm-2 col-xs-12">{{ field.label }}</label>
                          <div class="col-md-4 col-sm-4 col-xs-12">
                            {{ field(class="form-control col-md-7 col-xs-12") }}
                          </div>
                          <div class="control-label col-md-5 col-sm-5 col-xs-12">
                            <p style="float:left; color:red">{{ field.errors[0] }}</p>
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}<br>


                    <!-- biochemistry_realization -->
                    <div class="ln_solid"></div>
                    <h3>Biochemistry Realization</h3>
                    <div class="ln_solid"></div>

                    {% for field in form %}
                      {% if field.name in health_info_dict['biochemistry_realization'] %}
                        <div class="item form-group" >
                          <label class="control-label col-md-2 col-sm-2 col-xs-12">{{ field.label }}</label>
                          <div class="col-md-4 col-sm-4 col-xs-12">
                            {{ field(class="form-control col-md-7 col-xs-12") }}
                          </div>
                          <div class="control-label col-md-5 col-sm-5 col-xs-12">
                            <p style="float:left; color:red">{{ field.errors[0] }}</p>
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}<br><br><br>
                  </div>


                  <!-- submit button -->
                  <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">
                      {{ form.submit(class="btn btn-success") }}
                      <button class="btn btn-primary" type="reset">Reset</button>
                      {{ form.cancel(class="btn btn-secondary", formnovalidate=True) }}
                    </div>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}


