{% extends "base_site.html" %}

{% block title %} Profile {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h1>Patient Profile</h1>
        </div>
      </div>

      <div class="clearfix"></div>


      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">

            <!-- x-title -->
            <div class="x_title">
              <h3>Overview</h3>
            </div>

            <div class="x_content">
              <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                <div class="profile_img">
                  <div id="crop-avatar">
                    <!-- Current avatar -->
                    <img class="img-responsive avatar-view" src="{{ picture_file }}" alt="Avatar" title="Change the avatar" style="width:60%; height:60%">
                  </div>
                </div>
                <h3>{{ patient.first_name }} {{patient.last_name}}</h3>


                <ul class="list-unstyled user_data">
                  <li><i class="fa fa-venus-mars"></i>&nbsp; {{ patient.sex }} &emsp;&emsp;&emsp;&emsp;&emsp;
                    {{ patient.age }} years old
                  </li>

                  <li><i class="fa fa-briefcase user-profile-icon"></i>&nbsp; {{ patient.occupation }}
                  </li>

                  <li><i class="fa fa-map-marker user-profile-icon"></i>&nbsp;  {{ patient.address }}
                  </li>

                </ul>
                <br>

                <a href="{{ url_for('patients_blueprint.edit_info', patient_id=patient.id) }}" class="btn btn-success" style="padding: 10px 20px;"><i class="fa fa-edit m-right-xs"></i>&nbsp;Edit Info</a>

                <a href="{{ url_for('patients_blueprint.test', patient_id=patient.id) }}" class="btn btn-success" style="padding: 10px 20px;"><i class="fa fa-edit m-right-xs"></i>&nbsp;Test</a>

                <br />

              </div>


              <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="profile_title">
                  <div class="col-md-12">
                    <h2>Patient Medical Status</h2>
                  </div>
                </div>
                
                <!-- tab header -->
                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                  <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">

                    <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Health Info (details)</a>
                    </li>
                    <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">CT Scan</a>
                    </li>
<!--                    <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Cancer Report</a>-->
<!--                    </li>-->
                  </ul>

                  <!-- tab content -->
                  <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                      <div class="col-md-6">
                        <!-- Health -->
                        <h3>Health</h3>
                        {% for field in health_info_dict['health'] %}
                          <div class="item-form-group">
                            <div class="col-md-7">
                              <label class="control-label">{{ form[field].label.text }}:</label>
                            </div>
                            <div class="col-md-5">
                              <p>{{ patient[field] }}</p>
                            </div>
                          </div><br><br>
                        {% endfor %}

                        <!-- General Biochemistry -->
                        <h3>General Biochemistry</h3>
                        {% for field in health_info_dict['general_biochemistry'] %}
                          <div class="item-form-group">
                            <div class="col-md-7">
                              <label class="control-label">{{ form[field].label.text }}:</label>
                            </div>
                            <div class="col-md-5">
                              <p>{{ patient[field] }}</p>
                            </div>
                          </div><br><br>
                        {% endfor %}

                        <!-- Comorbidities -->
                        <h3>Comorbidities</h3>
                        {% for field in health_info_dict['comorbidities'] %}
                          <div class="item-form-group">
                            <div class="col-md-7">
                              <label class="control-label">{{ form[field].label.text }}:</label>
                            </div>
                            <div class="col-md-5">
                              <p>{{ patient[field] }}</p>
                            </div>
                          </div><br><br>
                        {% endfor %}

                        <!-- biopsy test -->
                        <h3>Biopsy Test</h3>
                        {% for field in health_info_dict['biopsy_test'] %}
                          <div class="item-form-group">
                            <div class="col-md-7">
                              <label class="control-label">{{ form[field].label.text }}:</label>
                            </div>
                            <div class="col-md-5">
                              <p>{{ patient[field] }}</p>
                            </div>
                          </div><br><br>
                        {% endfor %}
                      </div>


                      <div class="col-md-6">
                        <!-- genetic test -->
                        <h3>Genetic Test</h3>
                        {% for field in health_info_dict['genetic_test'] %}
                          <div class="item-form-group">
                            <div class="col-md-7">
                              <label class="control-label">{{ form[field].label.text }}:</label>
                            </div>
                            <div class="col-md-5">
                              <p>{{ patient[field] }}</p>
                            </div>
                          </div><br><br>
                        {% endfor %}

                        <!-- Serum Tumor Markers -->
                        <h3>Serum Tumor Markers</h3>
                        {% for field in health_info_dict['serum_tumor_markers'] %}
                          <div class="item-form-group">
                            <div class="col-md-7">
                              <label class="control-label">{{ form[field].label.text }}:</label>
                            </div>
                            <div class="col-md-5">
                              <p>{{ patient[field] }}</p>
                            </div>
                          </div><br><br>
                        {% endfor %}

                        <!-- Biochemistry Realization -->
                        <h3>Biochemistry Realization</h3>
                        {% for field in health_info_dict['biochemistry_realization'] %}
                          <div class="item-form-group">
                            <div class="col-md-7">
                              <label class="control-label">{{ form[field].label.text }}:</label>
                            </div>
                            <div class="col-md-5">
                              <p>{{ patient[field] }}</p>
                            </div>
                          </div><br><br>
                        {% endfor %}
                      </div>

                    </div>

                    <!-- CT Scan -->
                    <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                      <div class="x_panel" style="width: 100%;">
                        <div class="x_title">
                          <div class="row" style="margin: 5px 5px;">
                            <h3 style="display:inline-block;">Last Uploads</h3>

                            <a href="{{ url_for('base_blueprint.upload', patient_id=patient.id) }}" class="btn btn-success" style="padding: 10px 20px; float:right;"><i class="fas fa-upload"></i> New Upload</a>
                          </div>

                        </div>

                        <div class="x_content">
                          <table class="table table-striped projects" style="width: 70%">
                            <thead>
                              <tr>
                                <th style="width: 5%">#</th>
                                <th style="width: calc(95%/3)">CT Scan</th>
                                <th style="width: calc(95%/3)">Cancer Report</th>
                              </tr>
                            </thead>

                            <tbody>
                              {% if upload_list|length == 0 %}
                                <!-- when user cannot seach for patient -->
                                <tr>
                                  <td colspan="4">
                                    <p style="text-align:center; font-size:16px;">You don't have any uploads for this patient.</p>
                                  </td>
                                </tr>

                              <!-- when user has > 0 patients -->
                              {% else %}
                                {% for upload in upload_list %}
                                  <tr href="{{ url_for('base_blueprint.upload', patient_id=patient.id) }}" class="row-patients">
                                    <!-- num -->
                                    <td>{{ loop.index }}</td>

                                    <!-- upload -->
                                    <td>
                                      <a href="{{ url_for('base_blueprint.result', ct_scan_md5=upload.ct_scan.md5, patient_id=patient.id, upload_id=upload.id) }}" class="btn btn-primary" style="padding: 10px 20px;"><i class="fas fa-x-ray"></i> View</a>
                                      ct_scan_id: {{ upload.ct_scan.id }}
                                      <br />
                                      <small>Uploaded {{ upload.date_uploaded.strftime("%B %d, %Y - %H:%M") }}</small>
                                    </td>

                                    <!-- cancer report -->
                                    <td>
                                      <a href="{{ url_for('patients_blueprint.pdf_template', patient_id=patient.id, upload_id=upload.id) }}" target="_blank"><i class="fas fa-file-pdf fa-4x"></i> Report {{ loop.index }}</a>
                                    </td>
                                  </tr>
                                {% endfor %}
                              {% endif %}
                            </tbody>
                          </table>

                        </div>
                      </div>
                    </div>
                    <!-- cancer report -->
<!--                    <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">-->
<!--                      -->
<!--                    </div>-->

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
  <!-- morris.js -->
  <script src="{{ url_for('static', filename='vendors/raphael/raphael.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/morris.js/morris.min.js') }}"></script>
{% endblock javascripts %}