{% extends "base_site.html" %}

{% block title %} Profile {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h1>Patient Profile</h1>
        </div>
      </div>

      <div class="clearfix"></div>


      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">

            <!-- x-title -->
            <div class="x_title">
              <h3>Overview</h3>
            </div>

            <div class="x_content">
              <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                <div class="profile_img">
                  <div id="crop-avatar">
                    <!-- Current avatar -->
                    <img class="img-responsive avatar-view" src="{{ picture_file }}" alt="Avatar" title="Change the avatar" style="width:60%; height:60%">
                  </div>
                </div>
                <h3>{{ patient.first_name }} {{patient.last_name}}</h3>


                <ul class="list-unstyled user_data">
                  <li><i class="fa fa-venus-mars"></i>&nbsp; {{ patient.sex }} &emsp;&emsp;&emsp;&emsp;&emsp;
                    {{ patient.age }} years old
                  </li>

                  <li><i class="fa fa-briefcase user-profile-icon"></i>&nbsp; {{ patient.occupation }}
                  </li>

                  <li><i class="fa fa-map-marker user-profile-icon"></i>&nbsp;  {{ patient.address }}
                  </li>

                </ul>
                <br>

                <a href="{{ url_for('patients_blueprint.edit_info', patient_id=patient.id) }}" class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Edit Info</a>

                <br />

                <!-- start skills -->
                
                <!-- end of skills -->
              </div>


              <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="profile_title">
                  <div class="col-md-12">
                    <h2>Patient Medical Status</h2>
                  </div>
                </div>
                

                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                  <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">

                    <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Health Info (details)</a>
                    </li>
                    <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Upload CT Scan</a>
                    </li>
                    <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Medical History</a>
                    </li>
                    
                  </ul>
                  <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">

                      <!-- start health info -->
                      {% for field in form if field.name in ['weight', 'height', 'blood_pressure', 'diabetes', 'health_condition', 'cancer_report', other_problems] %}
                        <div class="item-form-group">
                          <div class="col-md-3">
                            <label class="control-label">{{ field.label.text }}:
                            </label>
                          </div>
                          <div class="col-md-9">
                              <p>{{ patient[field.name] }}</p>
                          </div>
                        </div>
                        <br><br>

                      {% endfor %}
                      <!-- end health info -->

                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                      {{ patient.ct_scan }}

                      <a href="{{ url_for('base_blueprint.upload', patient_id=patient.id) }}" class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Upload CT Scan</a>

                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                      <p>xxFood truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui
                        photo booth letterpress, commodo enim craft beer mlkshk </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
  <!-- morris.js -->
  <script src="{{ url_for('static', filename='vendors/raphael/raphael.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/morris.js/morris.min.js') }}"></script>
{% endblock javascripts %}