<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="{{ url_for('static', filename='css/pdf.css') }}", media="print", rel="stylesheet">
  </head>

  <body>
    <h1>CANCER REPORT</h1>

    <dl>
      <dt>Upload date</dt>
      <dd>{{ upload.date_uploaded.strftime("%B %d, %Y - %H:%M") }}</dd>
    </dl>

    <!-- Personal info -->
    <h2 style="margin-top: 3em;">Personal information</h2>

    <div id="personal-info">
      <div class="outer-row">
        {% for field in ['first_name', 'last_name'] %}
          <div class="column">
            <div class="inner-row">
              <div class="label">{{ form[field].label.text }}:</div>
              <div class="content">{{ upload.patient[field] }}</div>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="outer-row">
        {% for field in ['age', 'sex'] %}
          <div class="column">
            <div class="inner-row">
              <div class="label">{{ form[field].label.text }}:</div>
              <div class="content">{{ upload.patient[field] }}</div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div id="address">
      {% for field in ['occupation', 'address'] %}
        <div class="outer-row">
          <div class="column">
            <div class="inner-row">
              <div class="label">{{ form[field].label.text }}:</div>
              <div class="content">{{ upload.patient[field] }}</div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <!-- health info -->
    <h2>Health information</h2>

    <div id="health-info">
      <div class="outer-row">
        <div class="column">
          <!-- basic health -->
          <h4>Health</h4>
          {% for field in health_info_dict['health'] %}
            <div class="inner-row">
              <div class="label">{{ form[field].label.text }}:</div>
              <div class="content">{{ upload[field] }}</div>
            </div>
          {% endfor %}<br>

          <h4>General Biochemistry</h4>
          {% for field in health_info_dict['general_biochemistry'] %}
            <div class="inner-row">
              <div class="label">{{ form[field].label.text }}:</div>
              <div class="content">{{ upload[field] }}</div>
            </div>
          {% endfor %}<br>

          <h4>Comorbidities</h4>
          {% for field in health_info_dict['comorbidities'] %}
            <div class="inner-row">
              <div class="label">{{ form[field].label.text }}:</div>
              <div class="content">{{ upload[field] }}</div>
            </div>
          {% endfor %}<br>
        </div>


        <div class="column">
          <h4>Genetic Test </h4>
          {% for field in health_info_dict['genetic_test'] %}
            <div class="inner-row">
              <div class="label">{{ form[field].label.text }}:</div>
              <div class="content">{{ upload[field] }}</div>
            </div>
          {% endfor %}<br>

          <h4>Serum Tumor Markers</h4>
          {% for field in health_info_dict['serum_tumor_markers'] %}
            <div class="inner-row">
              <div class="label">{{ form[field].label.text }}:</div>
              <div class="content">{{ upload[field] }}</div>
            </div>
          {% endfor %}<br>
        </div>

        <div class="column">
          <h4>Biopsy Test</h4>
          {% for field in health_info_dict['biopsy_test'] %}
            <div class="inner-row">
              <div class="label">{{ form[field].label.text }}:</div>
              <div class="content">{{ upload[field] }}</div>
            </div>
          {% endfor %}<br>

          <h4>Biochemistry Realization</h4>
          {% for field in health_info_dict['biochemistry_realization'] %}
            <div class="inner-row">
              <div class="label" style="flex: 1.5!important;">{{ form[field].label.text }}:</div>
              <div class="content">{{ upload[field] }}</div>
            </div>
          {% endfor %}<br>
        </div>
      </div>
    </div>

    <!-- OUTCOME -->
    <h2 style="color:#654321;">Outcome</h2>

    <div id="outcome">
      <!-- conclusion -->
      <h3>Conclusion</h3>
      <div class="outer-row">
        <div class="column">
          <!-- no lung cancer -->
          {% if result_percent == 0 %}
            <p>PATIENT DOES NOT HAVE LUNG CANCER</p>
          <!-- have lung cancer -->
          {% elif result_percent == 1 %}
            <p>PATIENT WAS DETECTED HAVING LUNG CANCER {{ upload.result_text.upper() }}</p>

          <!-- not sure -->
          {% else %}
            <p>PATIENT HAS {{ (result_percent * 100) | round(2) }}% CHANCE OF HAVING CANCER</p>
          {% endif %}
        </div>
      </div><br>

      <!-- Visualization -->
      <h3>Visualization</h3>
      <div class="outer-row">
        <div class="label">
          <img src="{{ url_for('static', filename='uploaded_ct_scan/' + upload.ct_scan.bbox_basename) }}">
        </div>

        <div class="content">
          <div>The size of tumor is {{ ct_scan.diameter }} mm in diameter</div>
        </div>

      </div><br><br>

      <!-- TREATMENT  -->
      <h3>Treatment recommendation</h3>
      <div class="outer-row">
        <div class="column">
         <p>{{ upload.treatment }}</p>
        </div>
      </div><br><br>

      <!-- MEDICINE -->
      <h3>Medicine recommendation</h3>
      <div class="outer-row">
        <div class="column">
          <p>{{ upload.medicine }}</p>
        </div>
      </div><br><br>
    </div>

    <!-- PREVIOUS UPLOADS -->
    <h2 style="page-break-before: always;">Previous uploads</h2>

    <div id="table" style="clear: both; page-break-after: always;">
      <table>
        <thead>
          <th>#</th>
          <th>Status</th>
          <th>Diameter</th>
          <th>Upload date</th>
        </thead>

        <tbody>
          {% if previous_upload_list | length > 0 %}
            {% for previous_upload in previous_upload_list %}
              <tr>
                <td>{{ loop.index }}</td>

                <!-- status -->
                <td>
                  {{ previous_upload.result_text }}
                </td>

                <!-- diameter -->
                <td>{{ previous_upload.ct_scan.diameter }} mm</td>

                <!-- date uploaded -->
                <td>{{ previous_upload.date_uploaded.strftime("%B %d, %Y - %H:%M") }}</td>
              </tr>

            {% endfor %}
          {% else %}
            <tr>
              <td colspan="4"><div style="text-align: center">No previous reports</div></td>
            </tr>
          {% endif %}

        </tbody>
      </table>
    </div>

  </body>


</html>



