<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  </head>
  <body>
    <h1>CANCER REPORT</h1><br>

    <div class="title">
      <h2>Personal information: </h2>
    </div>

    <div class="part">
      {% for field, label in [('first_name', 'First name'),
                               ('last_name', 'Last name'),
                               ('age', 'Age'),
                               ('sex', 'Sex'),
                               ('occupation', 'Occupation'),
                               ('address', 'Address')] %}

        <div class="row">
          <div class="col-xs-5">
            <label >{{ label }}:</label>
          </div>

          <div class="col-xs-7">
            {{ upload.patient[field] }}
          </div>
        </div>

      {% endfor %}
    </div>

    <div class="title">
      <h2>Health information:</h2>
    </div>

    <div class="part">
      {% for field, label in [('weight', 'Weight'),
                             ('height', 'Height'),
                             ('blood_pressure', 'Blood pressure'),
                             ('diabetes', 'Diabetes'),
                             ('health_condition', 'Health condition'),
                             ('cancer_report', 'Cancer report'),
                             ('other_problems', 'Other problems')] %}

        <div class="row">
          <div class="col-xs-5">
            <label >{{ label }}:</label>
          </div>

          <div class="col-xs-7">
            {{ upload.patient[field] }}
          </div>
        </div>
      {% endfor %}
    </div>


    <div class="title">
      <h2>Cancer result:</h2>
    </div>

    <div class="part">
      <!-- status -->
      <div class="row">
        <div class="col-xs-5"><label>Status:</label></div>
        <div class="col-xs-7">
          <!-- no lung cancer -->
          {% if result_percent == 0 %}
            <p>DOES NOT HAVE LUNG CANCER</p>
          <!-- have lung cancer -->
          {% elif result_percent == 1 %}
            <!-- stage 1 -->
            {% if ct_scan.diameter <= 20 %}
              <p>LUNG CANCER STAGE I</p>
            <!-- stage 2 -->
            {% else %}
              <p>LUNG CANCER STAGE II</p>
            {% endif %}

          <!-- not sure -->
          {% else %}
            <p>{{ result_percent * 100 }}% chance of having lung cancer</p>
          {% endif %}
        </div>
      </div>

      <!-- visualization -->
      <div class="row">
        <div class="col-xs-5"><label>Visualization:</label></div>
        <div class="col-xs-7"><p>The size of tumor is {{ ct_scan.diameter }} mm in diameter</p></div>
        <img src="data:;base64,{{ bbox }}">
      </div>
    </div>

    <!-- Treatment recommendation -->
    <div class="title">
      <h2>Treatment recommendation:</h2>
    </div>

    <div class="part">
      <div class="row treatment">
        <!-- have lung cancer -->
        {% if result_percent == 1 %}
          <!-- stage 1 -->
          {% if ct_scan.diameter <= 20 %}
            <p>If you have stage I NSCLC, surgery may be the only treatment you need. This may be done either by taking out the lobe of the lung that has the tumor (lobectomy) or by taking out a smaller piece of the lung (sleeve resection, segmentectomy, or wedge resection). At least some lymph nodes in the lung and in the space between the lungs will also be removed and checked for cancer.</p>

            <p>Segmentectomy or wedge resection is generally an option only for very small stage I cancers and for patients with other health problems that make removing the entire lobe dangerous. Still, most surgeons believe it is better to do a lobectomy if the patient can tolerate it, as it offers the best chance for cure.</p>

            <p>After surgery, the removed tissue is checked to see if there are cancer cells at the edges of the surgery specimen (called positive margins). This could mean that some cancer has been left behind, so a second surgery might be done to try to ensure that all the cancer has been removed. (This might be followed by chemotherapy as well.) Another option might be to use radiation therapy after surgery.</p>

            <p>If you have serious health problems that prevent you from having surgery, you may get stereotactic body radiation therapy (SBRT) or another type of radiation therapy as your main treatment. Radiofrequency ablation (RFA) may be another option if the tumor is small and in the outer part of the lung.</p>
          <!-- stage 2 -->
          {% else %}
            <p>People who have stage II NSCLC and are healthy enough for surgery usually have the cancer removed by lobectomy or sleeve resection. Sometimes removing the whole lung (pneumonectomy) is needed.</p>

            <p>Any lymph nodes likely to have cancer in them are also removed. The extent of lymph node involvement and whether or not cancer cells are found at the edges of the removed tissues are important factors when planning the next step of treatment.</p>

            <p>After surgery, the removed tissue is checked to see if there are cancer cells at the edges of the surgery specimen. This might mean that some cancer has been left behind, so a second surgery might be done to try to remove any remaining cancer. This may be followed by chemotherapy (chemo). Another option is to treat with radiation, sometimes with chemo.</p>

            <p>Even if positive margins are not found, chemo is usually recommended after surgery to try to destroy any cancer cells that might have been left behind. As with stage I cancers, newer lab tests now being studied may help doctors find out which patients need this adjuvant treatment and which are less likely to benefit from it.</p>

            <p>If you have serious medical problems that would keep you from having surgery, you may get only radiation therapy as your main treatment.</p>
          {% endif %}

        <!-- no lung cancer & not sure -->
        {% else %}
          <p>No treatment required</p>
        {% endif %}
      </div>
    </div>

    <!-- medicine recommendation -->
    <div class="title">
      <h2>Medicine recommendation:</h2>
    </div>

    <div class="part">
      <div class="row treatment">
        {% if result_percent == 1 %}
          <h4>CYRAMZA + ERLOTINIB</h4>
          <p>The trial was designed to measure disease progression, which is the time that people lived without their cancer spreading or growing after taking treatment. The study also measured the proportion of patients who had a reduction in tumor size of 30% or more</p>

          <p>CYRAMZA + erlotinib was studied in a clinical trial for the initial treatment of people with metastatic NSCLC with certain EGFR mutations. Of the 449 people included in the trial, 224 people received CYRAMZA + erlotinib and 225 people received placebo + erlotinib.</p>

          <p>In a clinical study, CYRAMZA + erlotinib provided more time without disease progression than placebo + erlotinib for people with metastatic NSCLC with certain types of EGFR mutations. On average, people taking CYRAMZA + erlotinib lived 19 months without disease progression compared with 12 months for those taking placebo + erlotinib</p><br>


          <h4>CYRAMZA + DOCETAXEL </h4>
          <p>36% of people had delayed disease progression for 6 months or longer with CYRAMZA + docetaxeI (a type of chemotherapy) vs 29% with chemotherapy alone
            Half of the people who received CYRAMZA + chemotherapy lived without their cancer getting worse for 4.5 months vs 3.0 months with chemotherapy alone</p>

          <p>43% of people lived 1 year or longer with CYRAMZA + chemotherapy vs 38% with chemotherapy alone
            Half of the people who received CYRAMZA + chemotherapy after their cancer progressed were still alive at 10.5 months vs 9.1 months with chemotherapy alone.

          <p>CYRAMZA was studied in a clinical trial of 1253 people with metastatic non-small cell lung cancer who received CYRAMZA + docetaxel (628 people) vs those who received docetaxel alone (625 people). All people in the study had previously received platinum-containing chemotherapy.</p></p>

        {% else %}
          <p>No medicine required</p>

        {% endif %}
      </div>
    </div>

    <!-- previous uploads -->
    <div class="title">
      <h2>Previous reports:</h2>
    </div>

    <div class="part">
      <div class="row">
        <div class="col-xs-1">
          <p>#</p>
        </div>

        <div class="col-xs-4">
          <p>Status</p>
        </div>

        <div class="col-xs-3">
          <p>Diameter</p>
        </div>

        <div class="col-xs-4">
          <p>Date uploaded</p>
        </div>

      </div>

      {% for previous_upload in previous_upload_list %}
        <hr style="width:100%; text-align:left; margin-left:0; border: 1px solid black;">

        <div class="row">
          <div class="col-xs-1">
            <p>{{ loop.index }}</p>
          </div>

          <!-- status -->
          <div class="col-xs-4">
            <!-- no lung cancer -->
            {% if previous_upload.ct_scan.binary_prediction == 0 %}
              <p>NO LUNG CANCER</p>
            <!-- have lung cancer -->
            {% elif previous_upload.ct_scan.binary_prediction == 1 %}
              <!-- stage 1 -->
              {% if previous_upload.ct_scan.diameter <= 20 %}
                <p>LUNG CANCER STAGE I</p>
              <!-- stage 2 -->
              {% else %}
                <p>LUNG CANCER STAGE II</p>
              {% endif %}

            <!-- not sure -->
            {% else %}
              <p>{{ (previous_upload.ct_scan.binary_prediction * 100) | round(2) }}% chance of having lung cancer</p>
            {% endif %}
          </div>

          <!-- diameter -->
          <div class="col-xs-3">
            <p>{{ previous_upload.ct_scan.diameter }} mm</p>
          </div>

          <!-- date uploaded -->
          <div class="col-xs-4">
            <p>{{ previous_upload.date_uploaded.strftime("%B %d, %Y - %H:%M") }}</p>
          </div>
        </div>
      {% endfor %}
    </div>

  </body>

</html>



