{% extends "base_site.html" %}

{% block title %} Dashboard 1 {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <!-- page title -->
        <div class="page-title">
          <div class="title_left">
            <h2>Patients version <small>Lung cancer detection</small></h2>
          </div>

          <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>

        </div>
        <!-- page title -->


      <div class="clearfix"></div>

      <!-- row -->
      <div class="row">
        <div class="col-md-8">
          <div class="x_panel">
            <!-- x_title -->
            <div class="x_title">
              <h4>List of patients</h4>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>

            </div>
            <!-- x_title -->

            <!-- x_content -->
            <div class="x_content" style="display: block;">
              <p>Simple table with listing with progress and editing options</p>

              <!-- table -->
              <table class="table table-striped projects">
                <thead>
                  <tr>
                    <th style="width: 5%">#</th>
                    <th style="width: calc(95%/3)">Patient Name</th>
                    <th style="width: calc(95%/3)">Patient ID</th>               
                    <th style="width: calc(95%/3)">Edit</th>
                  </tr>
                </thead>

                <!-- tbody -->
                <tbody>
                  <tr>
                    <td>#</td>
                    <td>
                      <a>Pesamakini Backend UI</a>
                      <br />
                      <small>Created 01.01.2015</small>
                    </td>               
                  
                    <td>
                      <button type="button" class="btn btn-success btn-xs">Success</button>
                    </td>
                    <td>
                      <a href="{{ url_for('patients_blueprint.patients_profile') }}" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                      <a href="{{ url_for('patients_blueprint.edit_info') }}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                      <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                    </td>
                  </tr>
                </tbody>
                <!-- tbody -->

              </table>
              <!-- table -->
            </div>  
            <!-- x_content -->



          </div>
        </div>
      </div>
      
  </div>






{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <!-- Chart.js -->
  <script src="{{ url_for('static', filename='vendors/Chart.js/dist/Chart.min.js') }}"></script>
  <!-- gauge.js -->
  <script src="{{ url_for('static', filename='vendors/gauge.js/dist/gauge.min.js') }}"></script>
  <!-- Skycons -->
  <script src="{{ url_for('static', filename='vendors/skycons/skycons.js') }}"></script>
  <!-- Flot -->
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.pie.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.time.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.stack.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.resize.js') }}"></script>
  <!-- Flot plugins -->
  <script src="{{ url_for('static', filename='vendors/flot.orderbars/js/jquery.flot.orderBars.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/flot-spline/js/jquery.flot.spline.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/flot.curvedlines/curvedLines.js') }}"></script>
  <!-- DateJS -->
  <script src="{{ url_for('static', filename='vendors/DateJS/build/date.js') }}"></script>
  <!-- JQVMap -->
  <script src="{{ url_for('static', filename='vendors/jqvmap/dist/jquery.vmap.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jqvmap/dist/maps/jquery.vmap.world.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jqvmap/examples/js/jquery.vmap.sampledata.js') }}"></script>
{% endblock javascripts %}
