/*--------------------------------------------------------------
# loader
--------------------------------------------------------------*/
#loader {
  position:fixed;
  width:100%;
  left:0;right:0;top:0;bottom:0;
  background-color: rgba(255,255,255,0.97);
  z-index:9999;
  display:none;
}

#loader::after {
  content:'';
  display:block;
  position:relative;
}

#loader-text{
  position: absolute;
  color:#3d3d3d;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  text-align:center;
  font-size: 1.8vw;
}

#progress{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 40%;
  height: 7.5%;
  background-color: #3E4142;
  border-radius: 10em;
  color: black;
}

#process-percent{
  position: absolute;
    font-size: 2vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color:#ececec;
}

/*--------------------------------------------------------------
# profile picture upload
--------------------------------------------------------------*/

.picture-upload {
  position: relative;

  width: 70%;
  border: 1px solid #D3D3D3;
  border-radius: 50%;

  margin-left: auto;
  margin-right: auto;

  text-align: center;
}

.picture-upload:before {
  content: "";
  display: block;
  padding-top: 100%;
  /* initial ratio of 1:1*/
}

.picture-now{
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
}

/* input */
.picture-file {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
  opacity: 0;

  cursor: pointer;
}


/*--------------------------------------------------------------
# dropzone
--------------------------------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.center {
  width: 90%;
  height: 40rem;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;

  box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.box {
  border: 10px solid;
  border-image-source: linear-gradient(to right, #274685 0%, #3db3c5 100%);
  border-image-slice: 1;
}

.title {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #999;
  text-align: center;
}

.center h1 {
  font-size: 20px;
}

#dropzone-box{
  width: 90%;
  height: 60%;
}

.dropzone-content{
  height: 70%;
  margin-bottom: 5px;
}

#dropzone {
  position: relative;

  width: 90%;
  height: 100%;
  border: 1px dashed #999;
  border-radius: 3px;

  margin-left: auto;
  margin-right: auto;

  text-align: center;

  background-image: url("http://100dayscss.com/codepen/upload.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#dropzone1 {
  position: relative;

  margin-left: auto;
  margin-right: auto;

  width: 90%;
  height: 100%;
  border: 1px dashed #999;
  border-radius: 3px;

  text-align: center;

  background-image: url("http://100dayscss.com/codepen/upload.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.upload-ct-scan {
  position: relative;

  width: 100%;
  height: 100%;
  opacity: 0;

  cursor: pointer;
}

#dropzone p{
  margin-top: -7rem;
  word-wrap: break-word;
}

#dropzone1 p{
  margin-top: -7rem;
  word-wrap: break-word;
}

.container .row .btn{
  margin-right: auto;
  margin-left: auto;
}

/*--------------------------------------------------------------
 result page
--------------------------------------------------------------*/

#result-page-title {
  position: relative;
  width: 100%;
  height: 200px;
  background: linear-gradient(to left, #274685 20%, #3db3c5 100%);
  border-radius: .25rem;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

#result-page-text{
  position: absolute;
  font-size: 30px;
  color: white;

  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%)
}

#result-page-icon{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 25px;
}


.modified-nav-link{
  font-size:20px;
  margin-bottom: 5px;
  background: #F4EFEC;
}

.modified-nav-link.active{
  background: linear-gradient(to right, #274685 0%, #3db3c5 100%) !important;
}

/*--------------------------------------------------------------
 pbb image
--------------------------------------------------------------*/

#pbb-image{
  width: 60%;
  height: 60%;
  border-radius: 10px;
}
